{{ $iface := .iface }}{{ $netmask := .netmask }}{{ $acceptMark := .acceptMark }}

global_defs {
  vrrp_version 3
  vrrp_iptables {{ .iptablesChain }}
}

vrrp_instance vips {
  state BACKUP
  interface {{ $iface }}
  virtual_router_id {{ .vrid }}
  priority {{ .priority }}
  nopreempt
  advert_int 1

  track_interface {
    {{ $iface }}
  }

  {{ if .useUnicast }}
  unicast_src_ip {{ .myIP }}
  unicast_peer { {{ range .neighbors }}
    {{ .ip }}{{ end }}
  }
  {{ end }}

  virtual_ipaddress { {{ range .vips }}
    {{ . }}{{ end }}
  }
}

# TCP
{{ range $i, $vs := .vss }}
virtual_server fwmark {{ $acceptMark }} {
  delay_loop 5
  lb_algo {{ $vs.Scheduler }}
  lb_kind DR
  persistence_timeout 360
  protocol TCP

  {{ range $j, $ip := $vs.RealServer }}
  real_server {{ $ip }} 0 {
    weight 1
    TCP_CHECK {
      connect_port 80
      connect_timeout 3
    }
  }
  {{ end }}
}
{{ end }}

# UDP
{{ range $i, $vs := .vss }}
virtual_server fwmark {{ $acceptMark }} {
  delay_loop 5
  lb_algo {{ $vs.Scheduler }}
  lb_kind DR
  persistence_timeout 360
  protocol UDP

  {{ range $j, $ip := $vs.RealServer }}
  real_server {{ $ip }} 0 {
    weight 1
    TCP_CHECK {
      connect_port 80
      connect_timeout 3
    }
  }
  {{ end }}
}
{{ end }}
